<!doctype html>
<html>
<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Workouts</title>
</head>
<style>
    body {font-family: 'Roboto', sans-serif;}
</style>
<body>
{{{body}}}
</body>
</html>